@using LearningManagementSystem.ViewModels.Request
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Student Detail";
    var lookupDetail = ViewData["Lookup"] as List<Lookup>;
    var dateOfExam = lookupDetail.FirstOrDefault(x => x.LookupType == "ExamDate").LookupName;
    var date = Convert.ToDateTime(dateOfExam).ToLongDateString();
    //var ExamName = lookupDetail.FirstOrDefault(x => x.LookupType == "ExamName").LookupName;
    var shiftList = lookupDetail.Where(x => x.LookupType == "Shift").ToList();
    var studentDetail = ViewData["Student"] as Student;
}
@{
    string ExamName = HttpContextAccessor.HttpContext.Session.GetString("DepartmentName");
}
@model StudentDetailModel

<div class="text-center" style="width:1200px;!important">
    <center><img src="~/logo_spit.png" width="700px" height="100px" /></center>
    <br><h3>Learning Management System</h3>
    <h6>@ExamName</h6>
    <h6 style="color:red">DATE OF EXAM: @date</h6>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                <div class="text-danger">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="text-danger">
                    @if (!string.IsNullOrEmpty(studentDetail.Name))
                    {
                        <p>Student Detail are fetched from System Number, If data are not correct then please change it to Submit</p>
                    }
                </div>
            </div>
            <form asp-action="StudentDetails" method="post" enctype="multipart/form-data" id="formStudentDetails">
                <hr />
                <div class="form-group mb-2">
                    <label asp-for="Shift">Examination Shift<span style="color:red">*</span></label>
                    <select class="form-control" asp-for="Shift">
                        <option value="0">Select</option>
                        @foreach (var data in shiftList)
                        {
                            <option value="@data.LookupId">@data.LookupName</option>
                        }
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Name">Name<span style="color:red">*</span></label>
                    <input asp-for="Name" class="form-control" value="@studentDetail.Name" />
                </div>

                @* <div class="form-group mb-2">
                <label asp-for="RollNumber">System Number</label>
                <input asp-for="RollNumber" class="form-control" />
                </div>*@

                <div class="form-group mb-2">
                    <label asp-for="AadhaarNumber">Any Govt Id Number(PAN/Aadhar/DL... Number)<span style="color:red">*</span></label>
                    <input asp-for="AadhaarNumber" class="form-control" value="@studentDetail.AadhaarNumber" />
                </div>

                <div class="form-group mb-2">
                    <label asp-for="MobileNumber">Mobile No<span style="color:red">*</span></label>
                    <input asp-for="MobileNumber" class="form-control" value="@studentDetail.MobileNumber" onkeypress="return isNumberKey(event)" maxlength="10" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="UploadPhoto">Select Photo(Only jpg/jpeg/png)<span style="color:red">*</span></label>
                    <input asp-for="UploadPhoto" type="file" class="form-control" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="UploadFile1">Select File(Only pdf/jpg/jpeg/png/psd/cdr/pdd/tex)<span style="color:red">*</span></label>
                    <input asp-for="UploadFile1" type="file" class="form-control" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="UploadFile2">Select File</label>
                    <input asp-for="UploadFile2" type="file" class="form-control" />
                </div>

                <div class="form-group mb-3">
                    <label asp-for="UploadFile3">Select File</label>
                    <input asp-for="UploadFile3" type="file" class="form-control" />
                </div>
                @if (string.IsNullOrEmpty(studentDetail.Name))
                {
                    <button type="submit" class="btn btn-primary">Save and Start Exam</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Submit</button>
                }
            </form>
        </div>
    </div>
</div>
<br />
<div class="text-center">
    <img src="~/Footer_Logo.png" width="700px" height="100px" />
</div>

<script>

    if ('@ViewBag.SuccessMessage' != '') {
        alert('@ViewBag.SuccessMessage');
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
</script>